.button-rectangle {
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  color: var(--color-black-secondary);
  border: none;
}

.small {
  height: 28px;
  width: 106px;
  font-weight: 400;
}

.big {
  height: 48px;
  width: 100%;
  font-weight: 700;
}

.color-yellow {
  background-color: var(--color-yellow);
}

.color-white {
  background-color: var(--color-white);
}

.button-icon-no-background {
  height: 20px;
  border: none;
  background-color: unset;
}
