.anime-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.anime-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px;
  gap: 16px;
  font-size: 12px;
  color: var(--color-white);
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.anime-info-content-anime-image {
  width: 100%;
  height: 100%;
  max-width: 288px;
  max-height: 368px;
  object-fit: cover;
}

.anime-info-content-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.anime-info-content-info-subinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitles {
  color: var(--color-yellow);
  font-weight: 700;
}

.title {
  font-size: 24px;
  text-align: center;
}

.anime-info-content-info-subinfo-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.anime-info-content-info-subinfo-trailer {
  width: 100%;
  border: none;
}

@media (min-width: 768px) {
  .anime-info-content {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .anime-info-content-info-subinfo {
    flex-direction: row;
  }

  .anime-info-content-info-subinfo-trailer {
    width: fit-content;
  }
}
