.anime-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.anime-info-content {
  display: flex;
  flex-direction: row;
  padding: 16px 16px;
  gap: 16px;
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.anime-info-content-anime-image {
  width: 100%;
  height: 100%;
  max-width: 288px;
  max-height: 368px;
  object-fit: fill;
}

.anime-info-content-info {
  color: var(--color-white);
  font-size: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}

.anime-info-content-info-subinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitles {
  color: var(--color-yellow);
  font-weight: 700;
}

.title {
  font-size: 24px;
  text-align: center;
}

.anime-info-content-info-subinfo-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.anime-info-content-info-subinfo-trailer {
  border: none;
}
