.anime-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.anime-info-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 16px;
  gap: 16px;
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.anime-info-content-addlist-image {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 325px;
  align-items: center;
}

.anime-info-content-anime-image {
  width: 100%;
  height: 100%;
  max-height: 385px;
  object-fit: fill;
}

.anime-info-content-addlist-buttons {
  padding: 0 16px;
  width: 100%;
}

.anime-info-content-info {
  width: 675px;
  color: var(--color-white);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.anime-info-content-info-subinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitles {
  color: var(--color-yellow);
  font-weight: 700;
}

.title {
  font-size: 24px;
  text-align: center;
}

.anime-info-content-info-subinfo-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.anime-info-content-info-subinfo-trailer {
  width: 375px;
  height: 225px;
  border-width: 1px;
}
