.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.page-container-content {
  display: flex;
  flex-direction: column;
  width: 1080px;
  background-color: var(--color-black-secondary);
  padding: 0 16px;
  flex-grow: 1;
}

.page-container-content-animesection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px 0px;
  gap: 24px;
}

.page-container-content-animesection-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page-container-content-animesection-content-options {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
