.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-black-secondary);
  padding: 0px 8px;
  height: 54px;
  color: var(--color-yellow);
}

.header-container-title {
  color: var(--color-yellow);
  font-size: 40px;
  font-weight: 400;
}

.header-container-buttons {
  display: flex;
  gap: 24px;
}

.header-button {
  height: 28px;
  width: 106px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--color-black-secondary);
  border: none;
}

.header-container-buttons-singUp {
  background-color: var(--color-yellow);
}

.header-container-buttons-logIn {
  background-color: var(--color-white);
}
