.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  width: 100%;
}

.navbar-container-nav {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
}

.navbar-container-nav:hover {
  color: var(--color-yellow);
}

.navbar-container-nav.active {
  color: var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
}
