.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-grey);
  padding: 0px 10px;
  min-width: 240px;
  height: 26px;
  gap: 12px;
}

.search-container-input {
  border: none;
  outline: none;
  background-color: var(--color-black-secondary);
  caret-color: var(--color-yellow);
  color: var(--color-yellow);
  font-size: 12px;
  font-weight: 400;
}

.search-container-input::placeholder {
  color: var(--color-grey);
}

@media (min-width: 1024px) {
  .search-container {
    min-width: 320px;
  }
}
